* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --text-color: #302e29;
    --main-color: #236e19;
    --second-color: #858585;
    --bg-color: #fffbf6;
    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;   
}

/* Header */
header {
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 1%;
    transition: all 0.4s ease;
    text-decoration: none;
}

.header.sticky {
    padding: 10px 5%;
    background: var(--bg-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  }

header .logo{
    text-decoration: none;
}

.navbar {
    display: flex;
    text-decoration: none;
}

.navbar p {
    padding-left: 0; /* Remove o padding para ver o impacto */
    margin-left: 0;  /* Remove qualquer margem */
    text-align: center; /* Centraliza o texto no próprio elemento */
   margin-left: 20px; /* Ajuste conforme necessário */
   max-width: 200px; /* Define um limite de largura */
   text-decoration: none;
 }

.navbar a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 750;
    padding: 5px 10px;
    margin: 2px 25px;
    transition: .4s ease;
    text-decoration: none;
    
}

.navbar a:hover {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
     
}
.h-icons {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    background: var(--main-color);
    border-radius: 20px;
    
}

.h-icons i {
    font-size: 22px;
    color: var(--bg-color);
    margin-right: 15px;
    
}

#menu-icon {
    font-size: 30px;
    color: var(--bg-color);
    z-index: 100001;
    cursor: pointer;
    display: none;
}










main {
    display: flex;
    justify-content: center; /* Centraliza a imagem e o texto horizontalmente */
    align-items: flex-start; /* Garante que o texto comece no topo da imagem */
    gap: 20px; /* Espaço entre a imagem e o texto */
    padding: 20px;
    background-color: #fff;
    min-height: calc(100vh - 56px);
    transition: background-color 0.3s;
    margin-top: 200px;
}

aside {
    max-width: 50%; 
    display: flex;
    justify-content: center; /* Centraliza a imagem dentro do aside */
}

article {
    max-width: 45%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Mantém o texto no topo */
}
img {
    position: relative;
    width: 100%; 
}






footer {
    background-color: #1e5a0e;
}

.copy-right p {
    text-align: center;
    padding: 7px;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.7ch;
}












